<h2>Home</h2>
<div ng-cloak layout-gt-sm="row" layout="column">
  <div flex-gt-sm="50" flex>
  <md-content>
      <md-list flex>
        <p class="lead">Displaying the most recent twenty videos.</p>
        <form>
          <md-input-container>
            <label for="search">Search for older vidoes</label>
            <input name="search" ng-model="query" type="text" autofocus>
          </md-input-container>
        </form>
        <md-list-item class="md-3-line" ng-repeat="video in data.videoLibrary.response.data | filter:query | orderBy: '-attributes.created_at'  | limitTo: 20  ">
          <!--anguvideo is a npm module for displaying embeded Youtube and vimeo urls-->
          <anguvideo class="angular-video" ng-model="video.attributes.url"></anguvideo>
          <div class="md-list-item-text" layout="column">
            <h3>{{video.attributes.title}}</h3>
            <p>Submitted on : {{video.attributes.created_at | date:"MM/dd/yyyy 'at' h:mma"}}</p>
            <p>Number of Likes: {{video.attributes.vote_tally}}</p>
            <p>Number of Views: {{video.attributes.view_tally}}</p>
            <div class="btn-container">
              <md-button class="md-primary md-raised btn" ng-click="updateView(video)">Mark As Viewed</md-button>
              <md-button class="md-primary md-raised btn" ng-click="updateLike(video, 'like')">Like</md-button>
              <md-button class="md-primary md-raised btn" ng-click="updateLike(video, 'dislike')">Dislike</md-button>
            </div>
          </div>
        </md-list-item>
        <md-divider ></md-divider>
      </md-list>
  </md-content>
  </div>
</div>
